/*Colors Variables*/

:root {
    --mainColor1: #fafafa;
    --mainColor2: #ecf0f1;
    --mainColor3: #fafafa;
    --mainColor4: #5e5e5e;
    --secondColor1: #9d9d9d;
    --secondColor2: #122b40;
    --fontColor1: #122b40;
    --fontColor2: #02bdd5;
    --fontColor3: #FF5722;
    --fontColor4: #5e5e5e;
}
body
{
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
}
.sectionTitle
{
text-align: left;
}
.records
{
    position: fixed!important;
    top:-35vh;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85vh;
    /*margin-top: 15vh;*/
    width: 80vw;
    /*margin: 15vh 5vw 0 0;*/
    z-index: 10;
}
.recordBox
{
    margin: 5px 0.5% 5px 0.7%;
    background-color: #2c312e!important;
    /*background-color: #02bdd5!important;*/
    width: 32%!important;
}

.recordBox div
{
    padding-left: 0!important;
    padding-right: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;

}
.littlePercentCircle
{
    /*padding-left: 0!important;*/
    /*padding-right: 0!important;*/
    /*margin-left: 0!important;*/
    margin-right: 20px!important;
    width: 40%;
}
.higherPercentCircle
{
    /*padding-left: 0!important;*/
    /*padding-right: 0!important;*/
    /*margin-left: 0!important;*/
    /*margin-right: 0!important;*/
}
.recordBox .toneName
{
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.05;
    font-size: 0.9em;
}

.hidden
{
    display: none!important;
}
.btn--search, .icon--cross
{
    height: 50px;
    width: 50px;
}

.strip__content .container-fluid
{
    width: 80vw;
}
::-webkit-scrollbar
{
    width: 0px;
}
::-webkit-scrollbar-track
{
    background-color: #eaeaea;
    border-left: 0px solid #ccc;
}
::-webkit-scrollbar-thumb
{
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover
{
    background-color:#5e5e5e;
}