/*Colors Variables*/

:root {
    --mainColor1: #fafafa;
    --mainColor2: #ecf0f1;
    --mainColor3: #fafafa;
    --mainColor4: #5e5e5e;
    --secondColor1: #9d9d9d;
    --secondColor2: #122b40;
    --fontColor1: #122b40;
    --fontColor2: #02bdd5;
    --fontColor3: #FF5722;
    --fontColor4: #5e5e5e;
}
body
{
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
}
.recordBox div
{
    padding-left: 0!important;
    padding-right: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;
}
.recordBox .toneName
{
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.05;
    font-size: 0.9em;
}
.hidden
{
    display: none!important;
}
.btn--search, .icon--cross
{
    height: 50px;
    width: 50px;
}
.records
{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85vh;
    margin-top: 15vh;
}
::-webkit-scrollbar
{
    width: 0px;
}
::-webkit-scrollbar-track
{
    background-color: #eaeaea;
    border-left: 0px solid #ccc;
}
::-webkit-scrollbar-thumb
{
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover
{
    background-color:#5e5e5e;
}